@page "/sync"
@using WebUI.Shared
@inject HttpClient Http

<h1>Sync Workouts</h1>

<p>Sync your latest workouts from Peloton to Garmin.</p>

<EditForm Model="@postRequest" OnValidSubmit="@OnClickSyncAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Number of Workouts to Sync:
            <InputNumber @bind-Value="postRequest.NumWorkouts" />
        </label>
    </p>

    <button type="submit">Submit</button>
</EditForm>


@if (syncing is null)
{

}
else if (syncing.GetValueOrDefault())
{
    <p><em>Syncing, Please Wait...</em></p>
}
else 
{
    <p>Sync Success: @syncSuccess</p>
}


@code {
    private SyncPostRequest postRequest = new SyncPostRequest();
    private bool? syncSuccess = null;
    private bool? syncing = null;

    protected async Task OnClickSyncAsync()
    {
        syncing = true;
        var response = await Http.PostAsJsonAsync("/sync", postRequest);
        syncing = false;

        syncSuccess = await response.Content.ReadFromJsonAsync<bool>();
    }

}
