@{
    ViewData["Title"] = "Home Page";
    ViewBag.Page = "home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Peloton to Garmin UI!</h1>
    <p>This is a work in progress and not guaranteed to fully work yet. Feel free to check it out.</p>
</div>
