@inherits TracingComponentBase
@inject IApiClient _apiClient
@inject IHxMessengerService _toaster;
@inject IJSRuntime JS

<h3>Logs</h3>

<div class="row mb-3">
    <pre>
        <code class="language-html" data-lang="html">
            @logs.LogText
        </code>
    </pre>
</div>

@code {
    private SystemInfoLogsGetResponse logs;

    public Logs() : base(nameof(Logs))
    {
        logs = new SystemInfoLogsGetResponse();
    }

    protected override async Task OnInitializedAsync()
    {
        using var tracing = Tracing.ClientTrace($"{nameof(Logs)}.{nameof(OnInitializedAsync)}", kind: ActivityKind.Client);

        logs = await _apiClient.SystemInfoGetLogsAsync();
    }
}
