@inherits TracingComponentBase
@inject IApiClient _apiClient
@inject IHxMessengerService _toaster;
@inject IJSRuntime JS

<h3>Api Logs</h3>
<ul>
    <li>@systemInfo.CurrentLogLevel</li>
</ul>

<div class="row mb-3">
    <pre>
        <code class="language-html" data-lang="html">
            @logs.LogText
        </code>
    </pre>
</div>

@code {
    private SystemInfoLogsGetResponse logs;
    private SystemInfoGetResponse systemInfo;

    public Logs() : base(nameof(Logs))
    {
        logs = new SystemInfoLogsGetResponse();
        systemInfo = new SystemInfoGetResponse();
    }

    protected override async Task OnInitializedAsync()
    {
        using var tracing = Tracing.ClientTrace($"{nameof(Logs)}.{nameof(OnInitializedAsync)}", kind: ActivityKind.Client);

        logs = await _apiClient.SystemInfoGetLogsAsync();
        systemInfo = await _apiClient.SystemInfoGetAsync(new SystemInfoGetRequest() { CheckForUpdate = false });
    }
}
