name: PR Check

on:
  workflow_dispatch:
  pull_request:
    branches: [ master, v4-wip ]

jobs:

  build-and-test:
    strategy:
      matrix:
        dotnet: ['7.0']
        os: [windows-latest]

    runs-on: ${{ matrix.os }}

    env:
      DOTNET_INSTALL_DIR: '.\.dotnet'

    steps:
    - uses: actions/checkout@v3

    - name: Install dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ inputs.dotnet-version }}

    - name: Install MAUI Workloads
      run: dotnet workload install maui --ignore-failed-sources

    - name: Clean
      run: dotnet clean --configuration Debug && dotnet nuget locals all --clear
    
    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Debug

    - name: Test
      run: dotnet test

  compile-distro-console:
    name: Compile Distro
    runs-on: 'windows-latest'
    needs: build-and-test
    strategy:
      max-parallel: 1
      matrix:
        dotnet: [ '7.0' ]
        os: [ 'win10-x64' ]

    steps:

    - uses: actions/checkout@v3
    - name: Setup .NET Core SDK ${{ matrix.dotnet }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet }}
    
    - name: Clean
      run: dotnet clean ${{ github.workspace }}/src/ConsoleClient/ConsoleClient.csproj --configuration Release && dotnet nuget locals all --clear
    
    - name: Restore
      run: dotnet restore ${{ github.workspace }}/src/ConsoleClient/ConsoleClient.csproj

    - name: Prepare env
      run: |
          echo "BUILD_VERSION=$Env:GITHUB_RUN_NUMBER-$Env:GITHUB_RUN_ID" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
          echo "RUNNER_TOOL_CACHE=$Env:RUNNER_TOOL_CACHE" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
        
    - name: Publish ${{matrix.os}}
      run: dotnet publish ${{ github.workspace }}/src/ConsoleClient/ConsoleClient.csproj --no-restore -c Release -r ${{ matrix.os }} -o ${{ github.workspace }}/dist/${{ matrix.os }} --version-suffix ${{ env.BUILD_VERSION }} --self-contained true

    - name: Copy Config to Distro
      run: cp ${{ github.workspace }}/configuration.example.json ${{ github.workspace }}/dist/${{ matrix.os }}/configuration.local.json

    # Create Build Artifact
    - name: Upload Artifact ${{ matrix.os }}_${{ env.BUILD_VERSION }}
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.os }}_headless_${{ env.BUILD_VERSION }}
        path: ${{ github.workspace }}/dist/headless/${{ matrix.os }}

  compile-distro-ui:
   name: Compile Distro UI
   runs-on: 'windows-latest'
   needs: build-and-test
   strategy:
     max-parallel: 1
     matrix:
       dotnet: [ '7.0' ]
       framework: ['net7.0-windows10.0.19041.0']
       os: [ 'win10-x64' ]

   steps:

   - uses: actions/checkout@v3
   - name: Setup .NET Core SDK ${{ matrix.dotnet }}
     uses: actions/setup-dotnet@v3
     with:
       dotnet-version: ${{ matrix.dotnet }}

   - name: Install MAUI Workloads
     run: dotnet workload install maui --ignore-failed-sources
    
   - name: Clean
     run: dotnet clean ${{ github.workspace }}/src/ClientUI/ClientUI.csproj --configuration Release && dotnet nuget locals all --clear
    
   - name: Restore
     run: dotnet restore ${{ github.workspace }}/src/ClientUI/ClientUI.csproj

   - name: Prepare env
     run: |
         echo "BUILD_VERSION=$Env:GITHUB_RUN_NUMBER-$Env:GITHUB_RUN_ID" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
         echo "RUNNER_TOOL_CACHE=$Env:RUNNER_TOOL_CACHE" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
  
   - name: Decrypt PFX file
     run: |
        echo "${{ secrets.MAUI_SIGNING_KEY}}" > cert.pfx.asc
        certutil -decode cert.pfx.asc cert.pfx
  
   - name: Add cert to Store
     run: certutil -user -q -p "${{ secrets.MAUI_PFX_PASSWORD }}" -importpfx cert.pfx NoRoot
        
   - name: Publish ${{matrix.os}}
     run: dotnet publish ${{ github.workspace }}/src/ClientUI/ClientUI.csproj --no-restore -c Release -f ${{ matrix.framework }} -p:RuntimeIdentifierOverride=${{ matrix.os }} -o ${{ github.workspace }}/dist/${{ matrix.os }}-ui

   # Create Build Artifact
   - name: Upload Artifact ${{ matrix.os }}_${{ env.BUILD_VERSION }}
     uses: actions/upload-artifact@v3
     with:
       name: ${{ matrix.os }}_ui_${{ env.BUILD_VERSION }}
       path: ${{ github.workspace }}/dist/${{ matrix.os }}-ui/AppPackages
 
  create_docker_images:
   name: Publish Docker Images - PR
   runs-on: ubuntu-latest
   needs: build-and-test
   strategy:
    matrix:
        dockerfile: ['Dockerfile.console', 'Dockerfile.api', 'Dockerfile.webui']
        include:
            - dockerfile: 'Dockerfile.console'
              tag: 'pr-validator-console-A'
            - dockerfile: 'Dockerfile.api'
              tag: 'pr-validator-api-A'
            - dockerfile: 'Dockerfile.webui'
              tag: 'pr-validator-webui-A'

   steps:

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        platforms: linux/amd64,linux/arm64,linux/arm/v7

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        platforms: linux/amd64,linux/arm64,linux/arm/v7

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_PACKAGE_SECRET }}
      
    - name: Prepare env
      run: |
        echo "BUILD_VERSION=${GITHUB_RUN_NUMBER}-${GITHUB_RUN_ID}" >> $GITHUB_ENV

    - name: Build & Push to Package Repositories
      id: docker_build
      uses: docker/build-push-action@v3
      with:
        push: true
        file: ./docker/${{ matrix.dockerfile }}
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        build-args: VERSION=${{ env.BUILD_VERSION }}
        tags: |
            ${{ secrets.DOCKER_USERNAME }}/peloton-to-garmin:${{ matrix.tag }}
            ghcr.io/${{ github.repository_owner }}/peloton-to-garmin:${{ matrix.tag }}

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
