name: PR Check

on:
  workflow_dispatch:
  pull_request:
    branches: [ master, v4-wip ]

jobs:

  build-and-test:
    strategy:
      matrix:
        dotnet: ['7.0']
        os: [windows-latest]
        framework: ['net7.0-windows10.0.19041.0']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Install dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: List SDKs
      run: dotnet --list-sdks
    
    - name: Restore MAUI Workloads
      run: dotnet workload restore
      shell: pwsh

    - name: List MAUI Workloads
      run: dotnet workload list
      shell: pwsh

    - name: Clean
      run: dotnet clean --configuration Debug && dotnet nuget locals all --clear
    
    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Debug

    - name: Test
      run: dotnet test

  publish-ui-dist:
    name: Publish UI Distribution
    runs-on: 'windows-latest'
    needs: build-and-test
    strategy:
      matrix:
        dotnet: [ '7.0.410' ]
        framework: ['net7.0-windows10.0.19041.0']
        os: [ 'win10-x64' ]

    steps:

      - uses: actions/checkout@v3
      - name: Publish UI Distribution
        uses: ./.github/actions/publish-ui-dist
        with:
          dotnet-version: ${{ matrix.dotnet }}
          os: ${{ matrix.os }}
          framework: ${{ matrix.framework }}
 
  publish-docker-images:
    name: Publish Docker Images
    runs-on: ubuntu-latest
    needs: build-and-test
    strategy:
      matrix:
          dockerfile: ['Dockerfile.console', 'Dockerfile.api', 'Dockerfile.webui']
          include:
              - dockerfile: 'Dockerfile.console'
                tag: 'pr-validator-console-A'
              - dockerfile: 'Dockerfile.api'
                tag: 'pr-validator-api-A'
              - dockerfile: 'Dockerfile.webui'
                tag: 'pr-validator-webui-A'

    steps:

    - uses: actions/checkout@v3
    - name: Publish Docker Images
      uses: ./.github/actions/publish-docker-images
      with:
        dockerfile: ${{ matrix.dockerfile }}
        tag: ${{ matrix.tag }}
        secret_docker_username: ${{ secrets.DOCKER_USERNAME }}
        secret_docker_password: ${{ secrets.DOCKER_PASSWORD }}
        secret_github_package: ${{ secrets.GH_PACKAGE_SECRET}}
