name: PR Test

on:
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        dotnet: [ '5.0', '5.0.201' ]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core SDK ${{ matrix.dotnet }}
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - name: Clean
      run: dotnet clean --configuration Debug && dotnet nuget locals all --clear
    
    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Debug

    - name: Test
      run: dotnet test

  compile_distro:
    name: Compile Distro
    runs-on: 'windows-latest'
    strategy:
      max-parallel: 1
      matrix:
        dotnet: [ '5.0.201' ]
        os: [ 'win10-x64' ]
        python-version: [ 3.9 ]

    steps:

    - uses: actions/checkout@v2
    - name: Setup .NET Core SDK ${{ matrix.dotnet }}
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: ${{ matrix.dotnet }}
    
    - name: Clean
      run: dotnet clean --configuration Release && dotnet nuget locals all --clear
    
    - name: Restore
      run: dotnet restore

    - name: Prepare env
      run: |
          echo "BUILD_VERSION=$Env:GITHUB_RUN_NUMBER-$Env:GITHUB_RUN_ID" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
        
    - name: Publish ${{matrix.os}}
      run: dotnet publish ${{ github.workspace }}/src/PelotonToGarminConsole/PelotonToGarminConsole.csproj --no-restore -c Release -r ${{ matrix.os }} -o ${{ github.workspace }}/dist/${{ matrix.os }} --version-suffix ${{ env.BUILD_VERSION }}

    - name: Copy Config to Distro
      run: cp ${{ github.workspace }}/configuration.example.json ${{ github.workspace }}/dist/${{ matrix.os }}/configuration.local.json

    # Package all-in-one python and add to distro
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ${{ github.workspace }}/python/requirements.txt
        pip install pyinstaller

    - name: Package Python - Windows
      if: ${{ matrix.os == 'win10-x64' }}
      working-directory: ${{ github.workspace }}/python
      run: |
        pyinstaller -n upload --distpath ${{ github.workspace }}/dist/${{ matrix.os }}/python/ --console --clean --onefile --noconfirm ${{ github.workspace }}/python/upload.py

    # Create Build Artifact
    - name: Upload Artifact ${{ matrix.os }}_${{ env.BUILD_VERSION }}
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}_${{ env.BUILD_VERSION }}
        path: ${{ github.workspace }}/dist/${{ matrix.os }}